.compass{
    background-color: hsl(0, 0%, 98%);
}
main{
    padding-block: 3em;
    width: 50%;
    margin-inline: auto;
    max-width: 600px;
}
main img{
    margin:0 auto;
    /* width: 50%; */
    max-width: 600px;
}
main .mission{
    text-align: center;
    padding-block: 1.1em;
    letter-spacing: 3px;
    font-size: .7rem;
}
main h3{
    font-size: 2rem;
    text-align: center;
    padding-block: 0 1em;
    font-size: 2.6rem;
}
main span{
    color: hsl(84, 69%, 51%);
}
main p:last-child{
    padding-top: 1em;
}
@media(max-width:600px) {

    main{
        width: 90%;
    }
    main h3{
        font-size: 1.6rem;
    }
}

@media (min-width:600px) and (max-width:896px) {
    main{
        width: 90%;
    }
}