.four{
   margin-block: 1.6em 3.6em;
    max-width: 100%;
}
.four button{
    display: flex;
    align-items: center;
    gap: .7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: .6em;
    margin-bottom: 1em;
    background-color: transparent;
    padding: .36em 1.3em;
    border-radius: 7px;
    border: 1px solid hsl(0, 20%, 80%);
    font-size: 1.2rem;
    font-style: italic;
}
.four button img{
    animation-name: beating;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes beating {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
.four .layered-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
}
.layered-images div{
    width: 100%;
}
@media(min-width:710px) and (max-width:1300px){
    .four .layered-images{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: .4em;
    }
}
@media(max-width:710px) {
    .four .layered-images{
        display: grid;
        grid-template-columns: 2fr;
        padding: 0;
        margin: 0;
    }
}
