header {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: .8em;
}

nav ul {
    display: flex;
    gap: 2.8em;
}

ul li {
    list-style: none;
}

li a {
    color: hsl(141, 75%, 40%);
    text-decoration: none;
    position: relative;
    padding: 0.3em;
    transition: all 0.4s ease-in-out;
}
li a:hover{
    color: #212529;
    font-weight: 600;
}
li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: hsl(141, 75%, 40%);
    transition: all 0.4s ease-in-out;
}

li a:hover::after {
    width: 100%;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 36em) {
.logo {
    margin-left: -4em;
}

.primary-navigation {
    position: fixed;
    inset: 0 0 0 36%;
    flex-direction: column;
    padding: 7em 2em;
    background-color: hsla(0, 100%, 100%, 0.6);
    backdrop-filter: blur(.8em);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.primary-navigation[data-visible='true'] {
    transform: translateX(0%);
}

.mobile-nav-toggle {
    display: flex;
    position: absolute;
    right: 3.1em;
    top: 2rem;
    width: 2rem;
    z-index: 9999;
    border: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 4px;
    cursor: pointer;
}

.mobile-nav-toggle .bar {
    background-color: hsl(141, 65%, 70%);
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transition: transform 0.4s ease-in-out;
}

.mobile-nav-toggle[aria-expanded='true'] .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.mobile-nav-toggle[aria-expanded='true'] .bar:nth-child(2) {
    opacity: 0;
}

.mobile-nav-toggle[aria-expanded='true'] .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-47deg);
}
}